{% extends "base.html" %}
{% block content %}

{% if video %}

<h1>{{ video[3] }}</h1>
<h2>{{ video[1] }}</h2>
<div class = "video-wrapper">
	<video src = {{ url_for('static', filename = 'video/' + video[2] + '/' + video[6]) }} controls>
</div>
{% autoescape false %} 
<div class = "video-desc">
	<p> {{ video[4] | safe }} </p>
</div>
{% if playlist %}

<h1>{{ playlist[1] }}</h1>
{% for result in playlist[0] %}
<div class = "results">
	<a href = "{{ '?id=' + result[0] }}">
		<img class = "result-thumbnail" src = "{{ url_for('static', filename = 'thumbnail/' + result[0] + '.jpg') }}">
		{{ result[3] }}
	</a>
</div>
{% endfor %}
{% endif %}
{% endautoescape %}

{% else %}
<p>No results found.</p>
{% endif %}

{% endblock %}
