{% extends "base.html" %}
{% block content %}

<script src = "{{ url_for('static', filename = 'js/playlist.js') }}"></script>

{% if video %}
<div class = "video-wrapper">
	<h1>{{ video[4] }}</h1>
	<h2>{{ video[3] }}</h2>
	<video controls src = "{{ url_for('static', filename = 'video/' + video[3] + '/' + video[7]) }}">
</div>
{% autoescape false %}
<div class = "video-desc">
	<button onclick = "AddToPlaylist()">Add to Playlist</button><br />
	<div id = "playlist" class = "playlist hidden">
		<form action = "/playlist" method = "POST">
			<input type = "text" name = "playlist" placeholder = "Playlist ID">
			<input type = "radio" name = "type" value = "add">Add
			<input type = "radio" name = "type" value = "remove">Remove
		</form>
	</div>
	<p>{{ video[5] }}</p>
</div>
{% endautoescape %}
{% else %}

No video!

{% endif %}

{% endblock %}
